<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6">
      <div class="card my-5">
        <div class="card-body">
          <div class="text-center mb-4">
            <h1 class="h4 text-gray-900">Mot de passe oublié</h1>
            <p class="mb-4">Entrez votre adresse email pour récupérer votre mot de passe.</p>
          </div>
          <form>
            <div class="form-group mb-3">
              <div class="input-group">
                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email" required>
              </div>
            </div>
            <div class="d-xl-grid gap-2">
            <button type="submit" class="btn btn-primary mb-3 mt-3"routerLink="/reset-pass">Envoyer</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <a class="small" routerLink="/login">Retour à la page de connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="container d-flex justify-content-center " style="margin: 100px;">
   
    <div class="card shadow-sm w-50 rounded overflow-hidden ">
      <div class="card-body p-0">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
    <h2 class="text-center text-primary mb-4 mt-4">Mot de passe oublié! </h2>
    <form>
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="far fa-envelope"></i></span>
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="d-xl-grid gap-2">
      <button type="submit" class="btn btn-primary mb-3 mt-3"routerLink="/reset-pass">Envoyer</button>
      </div>
    </form>
    <hr>
    <hr>
    <div class="text-center">
      <small class="text-gray-500">vous n'avez pas encore un compte? </small>
      <a class="text-paleBlue" routerLink="/sign-up">Inscrivez vous</a>
    </div>
    <div class="text-center mt-3">
      <a class="text-paleBlue" routerLink="/auth">retournez au Login</a>
    </div>
  </div>



