<div class="row g-3 my-2 py-2">
    <div class="card container mt-3 col-md-5">
        <div class="text-center text-uppercase col-12 bg-light mb-2">
            <h2>Recherche avancée</h2>
        </div>
        <br>
            <form (submit)="rechercheArticle()">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Roundtrip"
                                value="doc-vigeur">
                            <label class="form-check-label" for="documents en vigueur">Documents en vigueur</label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Oneway"
                                value="doc-aborge">
                            <label class="form-check-label" for="documents abrogés">Documents abrogés</label>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="motsCles">Mots clés :</label>
                            <input type="text" placeholder="Rechercher par mot clé..." class="form-control"
                            [(ngModel)]="recherche" name="recherche">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="categories">Catégories :</label>
                            <select (change)="onCategorieChange()" class="form-select" name="categories"
                                [(ngModel)]="selectedCategorieName" id="categorie">
                                <option value="">Sélectionner un catégorie</option>
                                <option *ngFor="let categorie of categories" [value]="categorie.name">{{categorie.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                
                        <div class="col-lg-6 col-md-12">
                            <label>Type :</label>
                            <select class="form-select" name="types" [(ngModel)]="selectedTypeName" id="type">
                                <option value="">Sélectionner un type</option>
                                <option *ngFor="let type of types" [value]="type.name">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Thème :</label>
                            <select class="form-select" name="themes" [(ngModel)]="selectedThemeName" id="theme">
                                <option value="">Sélectionner un thème</option>
                                <option *ngFor="let theme of themes" [value]="theme.name">{{theme.name}}</option>
                            </select>
                        </div>
                 
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="date">Date :</label>
                            <input type="text" class="form-control"[(ngModel)]="date_publication" name="date_publication"placeholder="Rechercher par date publication">
                        </div>
                    </div>
                    <!--  Accordéon -->
                    <!-- <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                        data-bs-parent="#accordionExample">
                                        Plus d'options
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="content">
                                                    <div class="tag-box" style="width: 100%;">
                                                        <ul class="form-floating">
                                                            <select class="form-select"
                                                                (change)="onSelectedValueChange($event)">
                                                                <option selected="" hidden="">tous ..</option>
                                                                <option value="loi">loi</option>
                                                                <option value="guide">guide</option>
                                                                <option value="douane">douane</option>
                                                            </select>
                                                            <label>Choisir des tags</label>
                                                            <div *ngFor="let tag of tags">
                                                                <li>
                                                                    {{ tag }} <i (click)="supprimerLi(tag)"
                                                                        class="fa-sharp fa-solid fa-circle-xmark"></i>
                                                                </li>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary text-uppercase" type="submit" >
                            Rechercher</button>
                    </div>
                </div>
            </form>

    </div>

    <div class="card container mt-3 col-md-6">
        contenu à afficher
        <app-list-articles *ngIf="articles" [articles]="articles" #listeArticles></app-list-articles>
    </div>