<div class="container error-container" style="margin: 100px;">
	<div class="row  d-flex align-items-center justify-content-center">
		<div class="col-md-12 text-center">
			<i class="fa fa-exclamation-circle " style="font-size: 50px; "></i>
			<h1 class="big-text mt-4">Oops!</h1>
			<h2 class="small-text">404 - PAGE NOT FOUND</h2>

		</div>
		<div class="col-md-6  text-center">
			<p>La page que vous recherchez a peut-être été supprimée, son nom a changé ou est temporairement indisponible.</p>


			<form class="example" >
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search.." name="search">
					
                    
				</div>

			</form>
			 <h2 class="small-text">OU</h2>
			
			<a href="# " class="button button-dark-blue iq-mt-15 text-center" routerLink="/">Retourner au page Home</a>

		</div>

	</div>


</div>