<div class="card p-3">
  <div class="d-flex align-items-center">
    <img class="rounded-circle border border-secondary me-4" src="{{item.profile}}" alt="{{item.firstname}} {{item.lastname}}" style="width: 50px; height: 50px;">
    <div class="flex-grow-1">
      <h5 class="card-title mb-1">{{item.firstname}} {{item.lastname}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.job}}</h6>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{item.message}}</p>
  </div>
</div>
