@use '@angular/material'as mat;
@include mat.core();

$flexy-primary: (
  100: #ffffff,
  500: #03c9d7,
  700: #ffffff,
  contrast: (
    100: #ffffff,
    500: #ffffff,
    700: #ffffff,
  ),
);

$flexy-accent: (
  100: #ffffff,
  500: #fb9678,
  700: #ffffff,
  contrast: (
    100: #ffffff,
    500: #ffffff,
    700: #ffffff,
  ),
);

$flexy-warn: (
  100: #ffffff,
  500: #e46a76,
  700: #ffffff,
  contrast: (
    100: #ffffff,
    500: #ffffff,
    700: #ffffff,
  ),
);

$flexy-angular-primary: mat.define-palette($flexy-primary);
$flexy-angular-accent: mat.define-palette($flexy-accent);

$flexy-angular-warn: mat.define-palette($flexy-warn);

$flexy-angular-theme: mat.define-light-theme((
  color: (
    primary: $flexy-angular-primary,
    accent: $flexy-angular-accent,
    warn: $flexy-angular-warn,
  )
));




@include mat.all-component-themes($flexy-angular-theme);











