<!-- 
<div class="card m-2">
  <div class="card-body">
    <h1 class="card-title"></h1>
    <h2 class="card-subtitle mb-2 text-muted">{{item.duree}}</h2>
    <p class="card-text">{{item.nbre_question}} questions illimitées pendant {{item.duree}} mois. Accès illimité à nos documents en ligne.</p>
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-primary">{{item.solde}} DT</h3>
      <a href="#" class="btn btn-primary" routerLink="/auth">Acheter</a>
    </div>
  </div>
</div> -->
<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">{{item.titre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.periode}}</h6>
    <p class="card-text">{{item.description}} </p>
    <h3 class="text-primary">{{item.prix}} DT</h3>

    <a  class="btn btn-primary" routerLink="/auth">Acheter</a>

  </div>
</div>